body{
  padding: 0;
  margin: 0;
  input[type='text']{
    padding: 10px;
    border: none;
    width: 300px;
    outline: none;
    background: #F1F1F1;
    border-radius: 4px;;
    &:focus{
      border-bottom: 1px solid #333;
    }
  }
  select{
    padding: 7px 16px;
    margin-left: 20px;
    border: none;
    -webkit-appearance: none;
    background: #F1F1F1;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    &:focus{
     border-bottom: 1px solid #333;
   }
 }
 button{
  border: none;
  background: #43A047;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 4px;
  float: right;
  margin-right: 20px;
}
#app{
  width: 500px;
  height: 500px;
  .row-1{
    .logo{
      text-align: center;
      img{
        width: 80px;
      }
    }
  }
  .row-2{
    background: #424242;
    padding: 20px;
    margin: 20px 0px 0px;
    color: #fff;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    height: 320px;
    overflow: auto;
    &.null{
      text-align: center;
      p{
        width: 100%;
      }
    }
    .key-detail{
      margin: 30px 0px;
      &:first-child{
        margin-top: 0px;
      }
      &:last-child{
        margin-bottom: 0px;
      }
      .key{
        display: inline-block;
        margin-right: 60px;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
      }
      .url{
        display: inline-block;
      }
      .close{
        display: inline-block;
        float: right;
        cursor: pointer;
        font-size: 16px;
        &:hover{
          color: #F44336;
        }
      }
    }
  }
}
}
